{% extends 'templateadmin/templateadmin.html' %}
{% load static %}
{% block IsiAdmin %}
<div class="container-fluid">
  <h4 class="mb-4 text-primary font-weight-bold">{{judul}}</h4>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}
    <!-- Title -->
    <div class="form-group">
      <label>{{ form.s_title.label }}</label>
      {{ form.s_title }}
      {% if errors.s_title %}
        <div class="text-danger small">{{ errors.s_title }}</div>
      {% endif %}
    </div>

    <!-- Deskripsi -->
    <div class="form-group">
      <label>{{ form.s_title.label }}</label>
      <textarea name="s_description" class="form-control" rows="3"></textarea>
      {% if errors.s_description %}
        <div class="text-danger small">{{ errors.s_description }}</div>
      {% endif %}
    </div>

    <!-- Status -->
    <div class="form-group">
      <label>{{ form.n_istatus.label }}</label>
      <select name="n_istatus" class="form-control">
        <option value="1" {% if form.n_istatus == '1' %}selected{% endif %}>Aktif</option>
        <option value="0" {% if form.n_istatus == '0' %}selected{% endif %}>Non Aktif</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Simpan</button>
    <a href="{% url 'adminpanel:slider-image' %}" class="btn btn-secondary">Batal</a>
  </form>
</div>
{% endblock %}
