{% extends 'templateadmin/templateadmin.html' %}
{% load static %}
{% block IsiAdmin %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{header}}</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{% url 'adminpanel:addAbout' %}" class="m-0 font-weight-bold text-primary">Add About</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>Deskripsi</th>
                            <th>Created By</th>
                            <th>Created On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Judul</th>
                            <th>Deskripsi</th>
                            <th>Created By</th>
                            <th>Created On</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for tampilAbout in tampilAbout %}
                        <tr>
                            <td>{{ tampilAbout.s_title }}</td>
                            <td>{{ tampilAbout.s_description }}</td>
                            <td>

                                {% if tampilAbout.n_istatus == '1' %}
                                    Aktif
                                {% elif tampilAbout.n_istatus == '0' %}
                                    Non Aktif
                                {% else %}
                                    Tidak Diketahui
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'adminpanel:editAbout' tampilAbout.s_id_about %}" class="btn btn-success btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{% url 'adminpanel:editAbout' tampilAbout.s_id_about %}" class="btn btn-success btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid ++-->
{% endblock %}